@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{ padding: 0; margin: 0; box-sizing: border-box; }
button{ border: 0; background: unset; font-size: 24px; outline: none; overflow: hidden; border-radius: 5px; }
.main{ background-color: #ba70ff; font-size: 24px; font-weight: bold; font-family: 'Poppins', sans-serif; }
.main::after{ content: ""; background-image: url('/assets/img/blob-shape.svg'); background-repeat: no-repeat; background-size: contain; background-position: center; margin: 50px 0px; position: absolute; z-index: -1; top: 0; left: 0; height: 780px; width: 100vw; }
.container{ max-width: 300px; margin: 50px auto; }
.calculator, .input-bar{ background-color: #a747ff; border-radius: 20px; overflow: hidden; }
.display-bar{ color: #ffffff; }
.input-bar{ background-color: #ffffff; }
.input-bar, .display-bar{ padding: 15px; }
.input-row, .history, .display{ display: flex; justify-content: space-between; align-items: center; }
.input-row .input{ padding: 10px; height: 60px; width: 60px; text-align: center; margin: 10px 0px; cursor: pointer; }
.input-row .input:nth-last-child(1){ background: #efefef; border-radius: 50%; }
.input-row:nth-last-child(1) .input:nth-last-child(1){ background: #a747ff; color: #ffffff; }
.input-row:nth-of-type(1) .input:nth-of-type(1){ color: #a747ff; }
.history, .display{ justify-content: flex-end; color: #d2a1ff; font-weight: 400; }
.history img{ margin-left: 4px; height: 24px; }
.display{ color: #ffffff; font-size: 56px; font-weight: bold; }